@font-face {
  font-family: "Lucida Sans";
  src: url("fonts/LSANSI.TTF") format("ttf");
}

@font-face {
  font-family: "Segoe WP N";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/SegoeWPN.woff") format("woff");
}

@font-face {
  font-family: "Segoe UI Light";
  font-style: normal;
  src: url("fonts/SegoeUI-Light.woff") format("woff");
}

body {
  margin: 0 auto;
  padding: 0;
  width: 1300px;
}

h3 {
  margin: 0;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

.wrapper {
  width: 1024px;
  margin: 0 auto;
  position: relative;
}

.head_wrapper {
  background: url("images/back1.jpg") center no-repeat;
  height: 565px;
  display: flex;
  padding-top: 28px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 56px;
}

.logo {
  display: flex;
}

.logo img {
  margin-right: .5rem;
}

h1 {
  text-transform: uppercase;
  color: white;
  font-family: "Lucida Sans", sans-serif;
  font-style: italic;
  font-weight: 400;
}

.arrow {
  width: 32px;
  height: 57px;
  align-self: center;
}

.navbar {
  background-color: #f5c506;
  height: 52px;
  line-height: 52px;
  box-shadow: -6px -6px 0 0 rgba(245, 197, 6, 0.4), -12px -12px 0 0 rgba(245, 197, 6, 0.2);
}

.navbar a {
  color: #9b7d08;
  font-family: "Segoe WP N", sans-serif;
  text-transform: uppercase;
  font-size: 17px;
  text-decoration: none;
  background: #f5c506;
  padding: 15px;
  border-right: 2px solid #9b7d08;
}

.navbar img {
  margin: 0 10px;
}

.video_holder {
  margin: 0 10px;
  display: flex;
  justify-content: space-between;
}

.video_title h2 {
  text-transform: uppercase;
  font-family: "ASAP", sans-serif;
  font-size: 60px;
  letter-spacing: 2px;
  color: white;
  font-weight: 400;
}

.video_title .yellow {
  color: #f5c506;
}

.first_ar {
  position: absolute;
  z-index: 20;
  left: -138px;
  bottom: 190px;
}

.second_ar {
  position: absolute;
  z-index: 20;
  right: -138px;
  bottom: 190px;
}

main {
  background: url("images/back2.jpg") center no-repeat;
  height: 212px;
  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.5), 0 -3px 2px 0 rgba(0, 0, 0, 0.5);
}

.block_about {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}

.info {
  padding: 35px;
  font-family: "Segoe UI Light", sans-serif;
  font-size: 27px;
  text-transform: uppercase;
  text-align: center;
}

.video_blog {
  background: url("images/back3.jpg")  no-repeat;
  height: 510px;
}